<!-- 集成slam和导航,实现机器人自主移动的地图构建 -->
<launch>
    <!-- 1.SLAM实现 --> 
    <include file= "$(find nav_demo)/launch/nav01_slam.launch"/>
    <!-- 2.导航中的movebase实现 -->
    <include file= "$(find nav_demo)/launch/nav05_path.launch"/>
    <!-- rviz的实现已经在SLAM 的launch文件里面实现了 -->
    <!-- 如果要save map 时 再启动 nav02_map_save.launch -->
</launch>